@import "variables";

.bg-wrapper {
  width: 30%;
  height: 50%;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);

  .control-panel {
    box-sizing: border-box;
    top: 20px;
    width: 100%;
    height: 15%;
    padding: 0.5rem;
    background-color: $white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2rem 2rem 0 0;

    .input-area {
      display: flex;
      align-items: center;
      width: 90%;
      border-radius: 2rem;
      border: 1px solid black;

      input {
        box-sizing: border-box;
        width: 80%;
        height: 3rem;
        margin-left: 20px;
        font-size: 2rem;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .divider {
    width: 100%;
    height: 2px;
    background-color: $light;
  }

}

@media screen and (max-width: 1500px) {
  .bg-wrapper {
    width: 40%;
  }
}

@media screen and (max-width: 1100px) {
  .bg-wrapper {
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
  .bg-wrapper {
    width: 40%;
  }
}

@media screen and (max-width: 750px) {
  .bg-wrapper {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .bg-wrapper {
    width: 70%;
  }
}